/* Here we can add anything we want to suit our project. */

.jumbotron {
  padding: 30px;
}

.container {
  padding-top: 100px; /* A quick hack to stop stuff from disappearing below fixed navbar: Change this if it's not suitable for your project. */
}
textarea {
  height: 140px;
}
form {
  max-width: 400px; /* A quick hack to stop forms from being waaaayyy tooo wide. Remove if you don't like. */
}

h1 {
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 325px;
  height: 325px;
  border: 1px solid #ccc;
  margin: 1rem;
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 3px;
}

.caption {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 1.6rem;
}

h2 {
  text-align: center;
  padding-bottom: 1rem;
}

.edit-h4 {
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  padding-top: 0.5rem;
}

.display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-container > p {
  font-size: 1.5rem;
  padding-top: 0.8rem;
}

.edit-form,
.insert-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
